<section id="about-me" class="about-me">
  <div class="container">
    <div class="about-div">
      <ul class="accordion-block no-animation">
        <li class="ac">
          <h3 class="ac-about">
            About me
            <button type="button" class="ac-trigger">
              <svg class="icon" width="20" height="20">
                <use href="/images.svg#vector-top"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel">
            <ul class="ac-text">
              <li class="ac-list">
                <p>
                  I am Lloyd Jefferson&#44; a talented programmer with extensive
                  expertise in software development&#46; I have an understanding
                  of different programming languages ​​and technologies&#44;
                  always ready to improve my skills&#46; I always follow the
                  latest trends and look for unconventional&#44; creative
                  solutions to problems&#46; I have a high level of analytical
                  skills and am able to effectively solve even the most
                  difficult tasks encountered on the way&#46;
                </p>
              </li>
              <li class="ac-list">
                <p>
                  Able to work both independently and in a team&#46; I can
                  effectively cooperate with colleagues&#44; exchanging ideas
                  and finding optimal solutions&#46; Professional maturity
                  allows you to calmly cope with challenges and stressful
                  situations&#44; while maintaining a high quality of work&#46;I
                  am always looking for opportunities for self-improvement&#46;
                  I actively study new technologies and practices to stay
                  abreast of the latest innovations&#46; I have a strong
                  understanding of various programming languages&#44; frameworks
                  and architectural concepts that allow me to create efficient
                  and scalable software&#46;
                </p>
              </li>
            </ul>
          </div>
        </li>
        <li class="ac">
          <h3 class="ac-about">
            Role
            <button type="button" class="ac-trigger">
              <svg class="icon" width="20" height="20">
                <use href="/images.svg#vector-top"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel">
            <ul class="ac-text">
              <li class="ac-text-list">
                <p>Frontend development</p>
              </li>
              <li class="ac-text-list">
                <p>HeadlessCMS&#44;Wordpress</p>
              </li>
              <li class="ac-text-list">
                <p>Blender&#40;enjoy&#41;</p>
              </li>
            </ul>
          </div>
        </li>
        <li class="ac">
          <h3 class="ac-about">
            Education
            <button type="button" class="ac-trigger">
              <svg class="icon" width="20" height="20">
                <use href="/images.svg#vector-top"></use>
              </svg>
            </button>
          </h3>
          <div class="ac-panel">
            <ul class="ac-text">
              <li class="ac-text-list">
                <p>
                  2018 &#45; 2019 &#47; Frontend Development Diploma&#44; GoIT
                  IT<br />School&#44; New York
                </p>
              </li>
              <li class="ac-text-list">
                <p>
                  2019 &#45; 2020 &#47; Advanced Web Development
                  Certificate&#44; GoIT IT<br />
                  School&#44; New York
                </p>
              </li>
              <li class="ac-text-list">
                <p>
                  2020 &#45; 2022 &#47; Advanced Blender Animation
                  Techniques&#44; Udemy
                </p>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="skills-container">
      <div class="skill">
        <ul class="swiper-wrapper">
          <li class="skill-item swiper-slide">HTML&#47;CSS</li>
          <li class="skill-item swiper-slide">JavaScript</li>
          <li class="skill-item swiper-slide">TypeScript</li>
          <li class="skill-item swiper-slide">React</li>
          <li class="skill-item swiper-slide">Node&#46;js</li>
          <li class="skill-item swiper-slide">React Native</li>
          <li class="skill-item swiper-slide">Soft skills</li>
        </ul>
      </div>
      <svg class="btn-next">
        <use href="/images-1.svg#arrow-narrow-right"></use>
      </svg>
    </div>
  </div>
</section>
